* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schoolBackgroundImage {
    /* Background settings */
    height: 100vh;
    background: url("./resources/background.jpg") white center no-repeat;
    background-size: cover;

    /* Title settings */
    display: flex;
    align-items: center;
}


/* Navbar */


/* .logo {
    width: 10%;
    height: 10%;
} */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-text {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.5s;
    font-family: Calibri, sans-serif;
}

nav {
    font-size: 20px;
    color: #cecece;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50)
}

nav>ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    transition: 0.5s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

nav>ul>li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #111111;
    transform: rotate(-6deg) skewY(3deg) scaleX(.866025);
}

nav>ul>li:hover>a {
    color: black;
}

nav>ul>li:active>a {
    transform: scale(1.2);
}


/* end-navbar */

.schoolBackgroundImage .textBackground {
    background-color: #2d2d2d;
    width: 100%;
    height: 100px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 7px 6px 2px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
}


/* Título dentro del div */

.schoolBackgroundImage .textBackground .title-schoolName {
    font-family: Calibri, sans-serif;
    color: #cecece;
    text-align: center;
    font-size: 40px;
    width: 100%;
}


/* Comienza loggin */
  
.modal-loggin{
    background-color: whitesmoke;
    border: 0.5px solid black;
    border-radius: 7px;

    width: 40%;
    padding: 50px 70px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;

    display: none;
}

.modal-loggin .exitButtton{
    width: 15px;
    text-decoration: none;
    color: black;

    position: relative;
    top: -7%;
    left: 107%;
}

.modal-loggin h2{
    margin-bottom: 40px;

    text-align: center;
    font-size: 35px;
}

.modal-loggin form {
    display: flex;
    flex-direction: column;
}

.modal-loggin form input{
    font-size: 16px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: transparent;
    box-sizing: border-box;
    
    transition: all 0.1s ease-in;
}

.modal-loggin form input:focus{
    border-bottom: solid 2px #4d15b4;
    outline: 0;
}

.modal-loggin .forgotPass{
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    font-size: small;
    color: black;
}

.modal-loggin .button{
    height: 48px;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.modal-loggin .button:hover{
    background-color: rgb(115, 142, 210);
}
