*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schoolBackgroundImage{

    /* Background settings */
    height: 100vh;
    background: url("./resources/background.jpg") white center no-repeat;

    /* Title settings */
    display: flex;
    align-items: center;
}

.schoolBackgroundImage .textBackground{
    background-color: midnightblue;
    width: 100%;
    height: 200px;

    display: flex;
    align-items: center;
}

/* Título dentro del div */
.schoolBackgroundImage .textBackground .title-schoolName{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    text-align: center;
    font-size: 75px;
    vertical-align: auto;

    width: 100%;
}

/* Comienza loggin */

.modal-loggin{
    border: 1px solid black;
    background-color: red;

    width: 45%;

    position: fixed;
    top: 50%;
    right: 30%;
}

.modal-loggin form{
    display: flex;
    flex-direction: column;

    width: 33%;
}
