<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ET 24: Defensa de Buenos Aires</title>

    <!-- Conexion con hoja de estilos principal -->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <!-- Imagen de fondo con Título -->
    <div class="userBackgroundImage">

        <!-- Navbar -->
        <div class="navbarUser">
            <nav>
                <ul>
                    <li><a class="navbar-text" href="#">Inicio</a></li>
                    <li><a class="navbar-text" href="#">Acerca de</a></li>
                    <!-- <li><img class="logo" src="./resources/logo.png" alt="logo"></li> -->
                    <li><a class="navbar-text" href="#">Blog</a></li>
                    <li><a href="#" class="navbar-login" id="logout">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>

        <div class="user-textBackground">
            <h1 class="title-userName">Bienvenido </h1>
        </div>

        <div class="materiaBackground">
            <div class="admMenu">

                <div class="adm-texts">
                    <h3>Usuarios creados:</h3>
                    <p>2563</p>
                </div>

                <div class="adm-texts">
                    <h3>Usuarios en linea:</h3>
                    <p>135</p>
                </div>

            </div>
        </div>
        <div class="materiaBackground">
            <div class="admMenu">

                <div class="adm-texts">
                    <h3>Materias:</h3>
                    <p>320</p>
                </div>

                <div class="adm-texts">
                    <h3>Entregas sin revisar:</h3>
                    <p>83</p>
                </div>

            </div>
        </div>

    </div>

    <!-- Script de JS principal -->
    <script src="../scripts/admScripts.js"></script>
</body>

</html>